@charset "utf-8";

/* Stylesheet for Attendance Tracking
   
   Author:   Team Venture
   Date:     9/14/2023
   
   Filename: STLCCAttendanceStyles.css

*/

/*Font Styles*/
h1 {
    font-size: 3em;
    color: rgb(255,255,255);
    font-family: "arial", sans-serif;
    text-align: center;
    border: 2px double rgb(0,0,0);
    background-color: rgb(0,130,202);
    border-radius: 20px;
}
body {
    background-color: rgb(214,224,228);
}

/*Navigation Styles*/
nav.homeNav {
    display: block;
    width: 100%;
}

nav.homeNav ul {
    list-style: none;
}
@media only screen and (min-width: 900px) {
nav.homeNav ul li {
    display: flex;
    width: 30%;
    float: left;
    justify-content: center;
}
}

@media only screen and (max-width: 899px) {
nav.homeNav li {
    display: block;
    width: 80%;
}
}

nav.homeNav li a:link.currentPage, nav.homeNav li a:visited.currentPage, nav.homeNav li a:hover.currentPage {
    color: rgb(0,36,83);
    font-size: 25px;
    background-color: rgb(213,121,0);
    text-decoration: underline;
    font-weight: bold;
}
nav.homeNav li a:link.notPage, nav.homeNav li a:visited.notPage {
    color: rgb(255,255,255);
    font-size: 25px;
    text-decoration: none;
    background-color: rgb(213,121,0);
    font-weight: bold;
}
nav.homeNav li a:hover.notPage, nav.homeNav li a:active.notPage {
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(162,92,0);
    text-decoration: none;
}
/* TEMP */
nav#navigationButtons {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 900px) {
nav#navigationButtons table#navTable {
    display: flex;
    width: 100%;
    float: left;
    justify-content: center;
}

}
td#b1 {
    float: left;
    text-align: left;
}
td#b3 {
    float: right;
    text-align: right;
}

nav#navigationButtons button {
    color: rgb(255,255,255);
    font-size: 25px;
    text-decoration: none;
    background-color: rgb(213,121,0);
    font-weight: bold;
    border-radius: 10px;
    border-spacing: 70px 0px;
}

/*Home Paragraph Styles*/
p#homePara {
    border: 10px ridge lightblue;
    font-size: 28px;
    background-color: rgb(230,230,230);
    text-align: center;
    margin: 25px;
}

/*Login Styles*/
table#UserLogin {
    margin: 30px 30px 0px 30px;
    color: rgb(0,36,83);
    font-weight: bold;
    font-size: 30px;
}

table#UserLogin td input#UserEmail {
    height: 30px;
    font-size: 25px;
    color: rgb(6,50,100);
}

table#UserLogin td input#UserPassword {
    height: 30px;
    font-size: 25px;
    color: rgb(6,50,100);
}

input#UserClearButton {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(180,220,245);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#UserClearButton:hover {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(100,200,255);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#UserClearButton:active {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(0,36,83);
    background-color: rgb(80,140,220);
    font-size: 24px;
}

input#UserSubmitButton {
    color: rgb(180,220,245);
    border-color: rgb(120,160,190);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#UserSubmitButton:hover {
    border-color: rgb(120,160,190);
    color: rgb(100,200,255);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#UserSubmitButton:active {
    border-color: rgb(120,160,190);
    color: rgb(0,36,83);
    background-color: rgb(80,140,220);
    font-size: 24px;
}

/* Student */
input#StudentSubmitButton:active {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(0,36,83);
    background-color: rgb(80,140,220);
    font-size: 24px;
}

input#StudentSubmitButton:hover {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(100,200,255);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#StudentSubmitButton {
    margin-left: 30px;
    color: rgb(180,220,245);
    border-color: rgb(120,160,190);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#AccessCode {
    margin-left: 30px;
    height: 30px;
    font-size: 25px;
    color: rgb(6,50,100);
}

p#studentAccessCode {
    margin: 30px 30px 0px 30px;
    color: rgb(0,36,83);
    font-weight: bold;
    font-size: 30px;
}

div#StudentError {
    margin-left: 30px;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
}

div#StudentSuccess {
    margin-left: 30px;
    color: green;
    font-weight: bold;
    font-size: 30px;
}

/* Instructor */
input#InstructorSubmitButton:active {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(0,36,83);
    background-color: rgb(80,140,220);
    font-size: 24px;
}

input#InstructorSubmitButton:hover {
    margin-left: 30px;
    border-color: rgb(120,160,190);
    color: rgb(100,200,255);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#InstructorSubmitButton {
    margin-left: 30px;
    color: rgb(180,220,245);
    border-color: rgb(120,160,190);
    background-color: rgb(0,36,83);
    font-size: 24px;
}

input#courseDropdown {
    margin-left: 30px;
    height: 30px;
    font-size: 25px;
    color: rgb(6,50,100);
}

input#courseDropdown datalist#Courses {
    margin-left: 30px;
    height: 30px;
    font-size: 25px;
    color: rgb(6,50,100);
}

p#instructorCourseSelect {
    margin: 30px 30px 0px 30px;
    color: rgb(0,36,83);
    font-weight: bold;
    font-size: 30px;
}

div#InstructorError {
    margin-left: 30px;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
}

div#InstructorSuccess {
    margin-left: 30px;
    color: green;
    font-weight: bold;
    font-size: 30px;
}
/*Show Password Styles*/
p input#ShowPassword {
    width: 18px;
    height: 18px;
    margin: 0px 4px 0px 30px;
}

p#ShowPass {
    font-size: 18px;
    color: rgb(40,60,102)
}
/* Fail/Success Username/Password Styles */
div#UserError {
    margin-left: 30px;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
}

div#UserSuccess {
    margin-left: 30px;
    color: green;
    font-weight: bold;
    font-size: 20px;
}
/*Image Styles */
img#STLCCLogo {
    background-position: top, left;
}

div#LogoBackground {
    background-color: rgb(0,36,83);
}
